# Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Datasets & Models
datasets/
runs/*
!runs/detect/missile_yolo26_custom/

models/*.pt
!models/missile.pt
!models/yolo26n_custom.pt

# Project Specific
scratch/
detection_logs/
output_tracked.mp4
screenshot_*.png
demo_output.txt
*.log
.DS_Store

# IDE Config
.vscode/
.idea/

# Roboflow Config
.roboflow/
roboflow/
